/* BASE LAYOUT */
body {
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #F5F5F5;
    color: #333333;
}

a:hover, a:active {
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

img {
    border: 0;
}

/* GENERAL */

#content .scaffold h1 {
    border-bottom: 1px solid #CCCCCC;
    padding: 0.5rem 0;
    text-align: left;
    font-size: 1.375em;
}

#content .scaffold.scaffold-list h1 {
    border: none;
}

#controllers {
    padding-top: 20px;
    width: 100%;
}

#controllers ul {
    padding-left: 20px;
    margin: 10px 0;
}

.footer img {
    height: 80px;
    margin-right: 25px;
    margin-bottom: 15px;
    clear: bottom;
}

.footer strong a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.footer {
    background: #424649;
    color: #ffffff;
    clear: both;
    font-size: 1em;
    padding: 2em 0;
    min-height: 1em;
}

.footer a {
    color: #feb672;
    text-decoration: none;
}

.footer a:hover {
    color: #feb672;
    text-decoration: underline;
}

.spinner {
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
}

/* NAVIGATION MENU */
/* customizing bootstrap nav bar */
.navbar {
    margin-bottom: 0px;
}

.navbar-dark a {
    color: #ffffff !important;
    font-size: 18px !important;
    text-decoration: none;
}

.navbar-dark, .navbar-static-top {
    background-color: #424649;
}
a.navbar-brand {
    color: white !important;
    font-size: 19px !important;
}
.navbar-dark .navbar-nav>.active>a, .navbar-dark .navbar-nav>.active>a:hover, .navbar-dark .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: white;
}
.navbar-nav>li.active>a {
    color: white !important;
}
.navbar-nav>li>a:hover {
    background-color: #2559a7 !important;
    color: white !important;
}
.navbar-nav>li>a {
    color: #c0d3db;
}
.navbar-dark .navbar-toggler .icon-bar {
    background-color: white;
}
.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
    background-color: #2559a7;
}

.navbar-toggler {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar .dropdown a.dropdown-toggle {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar .navbar-nav li.nav-item {
    margin-left: 0.5em;
}

.navbar .dropdown-divider {
    height: 0;
    overflow: hidden;
    border-top: 1px solid #6b6f73;
}

.navbar .navbar-nav .nav-link {
    color: #666666;
    display: block;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.navbar li.dropdown-item a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar .navbar-nav a:active, .navbar .navbar-nav a:visited {
    color: #2559a7;
}

.navbar .navbar-nav a:focus, .navbar .navbar-nav a:hover {
    background-color: #2559a7;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.navbar li.dropdown ul.dropdown-menu.show {
    background-color: #424649;
}

.nav a {
    color: #666666;
    display: block;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
    color: #666666;
}

.nav a:focus, .nav a:hover {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
    margin: 0.5em 0;
    padding: 0.5em 0;
}

.property-list .fieldcontain {
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

.fieldcontain {
    margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
    color: #666666;
    text-align: right;
    width: 25%;
}

.fieldcontain .property-label {
    float: left;
}

.fieldcontain .property-value {
    display: block;
    margin-left: 27%;
}

.form-group .property-value {
    display: block;
    margin-left: 0;
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

select {
    padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    width: 250px;
    height: 150px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
    -moz-box-shadow: 0 0 0.5em #ffffff;
    -webkit-box-shadow: 0 0 0.5em #ffffff;
    box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
    color: #cc0000;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

ul.one-to-many {
    display: inline-block;
    list-style-position: inside;
    vertical-align: top;
}

ul.one-to-many li.add {
    list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
    background-color: transparent;
    border: 1px solid #CCCCCC;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
}

fieldset.embedded legend {
    margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
    margin: 0;
    padding: 0;
}

.message {
    background: #f3f3ff;
    border: 1px solid #b2d1ff;
    color: #006dba;
    box-shadow: 0 0 0.25em #b2d1ff;
}

.errors li {
    list-style: none;
    text-indent: .5em;
}

.message {
    text-indent: .5em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
    box-shadow: 0 0 0.5em #ffaaaa;
}

input:invalid, select:invalid, textarea:invalid {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* ACTION BUTTONS */

.buttons {
    padding: 0 0 1em 0;
}

.buttons a {
    text-decoration: none;
}

a.skip {
    position: absolute;
    left: -9999px;
}

.grails-logo-container {
    background: #7c7c7c no-repeat 50% 30%;
    color: white;
    text-align:center;
}

img.grails-logo {
    height:340px;
    margin-top:-10px;
}

/* Bootstrap Icons */
.bi {
    margin-right: 0.5em;
}

th {
    background-color: #efefef;
    color: #666666;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
}

thead th {
    white-space: nowrap;
}

th a {
    display: block;
    text-decoration: none;
}

th a:link, th a:visited {
    color: #666666;
}

th a:hover, th a:focus {
    color: #333333;
}

th.sortable a::after {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.15em;
    margin-left: .5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

th.asc a::after {
    content: "\f57b";
}

th.desc a::after {
    content: "\f575"; 
}

.alert {
    margin-top: 1rem;
}
